.chat-bubble {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    overflow: clip;
    text-align: initial;
    unicode-bidi: plaintext;

    &__content {
        font-size: 14px;
        line-height: 1.6;
    }
}