.terminal {
    &__cursor {
        display: inline-block;
        width: 8px;             
        height: 1em;             
        background-color: var(--copyPrimary); 
        margin-left: 6px;
        vertical-align: middle; 

        &--blink {
            animation: blink 1s step-end infinite;
        }
    }
}