.chat-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #303030;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 16px rgba(0,0,0,.1);
    border-radius: 32px;

    &__textarea {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding-block: 9px;
        padding-inline: 18px;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -.022em;
        line-height: 1.25;
        white-space: pre-wrap;
        overflow-y: hidden;
        resize: none;
        color: var(--copyPrimary);
    }

    &__button-wrapper {
        display: flex;
        padding: 8px;
        margin-top: auto;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 32px;
        border: none;
        outline: none;
        flex-shrink: 0;
        color: var(--eerieBlack);
        cursor: pointer;
        transition: color .14s ease-out, opacity .14s ease-out;

        &:disabled {
            color: var(--copyPrimary);
            cursor: not-allowed;
        }
    }
}