:root {
    --heightNav: 56px;

    --paddingHero: 50px;
    --paddingVerticalSmall: 25.25px;

    --fontSizeButton: 15px;
    --fontSizeLarge: 44px;
    --fontSizeMedium: 24px;
    --fontSizeSmall: 17px;
    --fontSizeExtraSmall: 13px;

    --lineHeightTitle: 1.2;
    --lineHeightText: 1.7;
    --fontWeightBold: 600;
    --fontWeightMedium: 500;
    --fontWeightLight: 300;
    --fontWeightExtraLight: 200;

    --borderRadiusButton: 8px;

    @media only screen and (max-width: 767px) {
        --paddingVerticalSmall: 16px;
    }

    --colorWhite: #fff;
    --colorBlack: #000;
    --colorGrayLight: #f1f1fb;
    --colorDark100: #1d1d1f;
    --colorDark200: #28282a;
    --colorGray: #86868b;
    --colorBlue: #0071e3;
    --colorBlueLight: #0a85ff;
    --colorRed: #ff746c;
    --colorYellow: #ffee8c;

    --bgPrimary: var(--colorBlack);
    --copyPrimary: var(--colorGrayLight);
    --copySecondary: rgba(255, 255, 255, .6);
    --btnPrimary: var(--colorDark100);
    --btnPrimaryHover: var(--colorDark200);
    --btnSecondary: var(--colorDark100);
    --btnSecondaryHover: var(--colorDark200);
    --btnSecondary: var(--colorDark100);
    --btnDanger: var(--colorRed);
    --linkPrimary: var(--colorBlue);
}