:root {
    --heightNav: 56px;

    --paddingHero: 55.5px;
    --paddingVerticalSmall: 25.25px;

    --fontSizeButton: 15px;
    --fontSizeLarge: 44px;
    --fontSizeSmall: 17px;
    --fontSizeExtraSmall: 13px;

    --lineHeightTitle: 1.2;
    --lineHeightText: 1.7;
    --fontWeightBold: 600;
    --fontWeightLight: 300;
    --fontWeightExtraLight: 200;

    --borderRadiusButton: 8px;

    @media only screen and (max-width: 767px) {
        --paddingVerticalSmall: 16px;
    }

    --white: #fff;
    --black: #000;
    --ghostWhite: #f1f1fb;
    --eerieBlack: #1d1d1f;
    --raisinBlack: #28282a;
    --taupeGray: #86868b;
    --royalBlue: #0071e3;
    --rustyRed: #dc3545;

    --bgPrimary: var(--black);
    --copyPrimary: var(--ghostWhite);
    --copySecondary: rgba(255,255,255,.6);
    --btnPrimary: var(--eerieBlack);
    --btnPrimaryHover: var(--raisinBlack);
    --btnSecondary: var(--eerieBlack);
    --btnDanger: var(--rustyRed);
    --linkPrimary: var(--royalBlue);
}